In [ ]:
!pip install mlxtend

In [ ]:
# Importing the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from mlxtend.frequent_patterns import apriori, association_rules

In [ ]:
#Import dataset from Local drive
from google.colab import files
uploaded = files.upload()

Saving retail_dataset.csv to retail_dataset (1).csv

In [ ]:
#Fetch dataset
dataset = pd.read_csv('retail_dataset.csv')
dataset.head()

        0       1     2       3       4       5       6
0   Bread    Wine  Eggs    Meat  Cheese  Pencil  Diaper
1   Bread  Cheese  Meat  Diaper    Wine    Milk  Pencil
2  Cheese    Meat  Eggs    Milk    Wine     NaN     NaN
3  Cheese    Meat  Eggs    Milk    Wine     NaN     NaN
4    Meat  Pencil  Wine     NaN     NaN     NaN     NaN

In [ ]:
print(dataset)

          0       1       2       3       4       5       6
0     Bread    Wine    Eggs    Meat  Cheese  Pencil  Diaper
1     Bread  Cheese    Meat  Diaper    Wine    Milk  Pencil
2    Cheese    Meat    Eggs    Milk    Wine     NaN     NaN
3    Cheese    Meat    Eggs    Milk    Wine     NaN     NaN
4      Meat  Pencil    Wine     NaN     NaN     NaN     NaN
..      ...     ...     ...     ...     ...     ...     ...
310   Bread    Eggs  Cheese     NaN     NaN     NaN     NaN
311    Meat    Milk  Pencil     NaN     NaN     NaN     NaN
312   Bread  Cheese    Eggs    Meat  Pencil  Diaper    Wine
313    Meat  Cheese     NaN     NaN     NaN     NaN     NaN
314    Eggs    Wine   Bagel   Bread    Meat     NaN     NaN

[315 rows x 7 columns]

In [ ]:
print(dataset.shape)

(315, 7)

In [ ]:
#Print Total number of Rows & columns in dataset
print("Total rows",dataset.shape[1])
print("Total cols",dataset.shape[0])

Total rows 7
Total cols 315

In [ ]:
#Print Information about data
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 315 entries, 0 to 314
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       315 non-null    object
 1   1       285 non-null    object
 2   2       245 non-null    object
 3   3       187 non-null    object
 4   4       133 non-null    object
 5   5       71 non-null     object
 6   6       41 non-null     object
dtypes: object(7)
memory usage: 17.4+ KB

In [ ]:
types = dataset.dtypes
print(types)

0    object
1    object
2    object
3    object
4    object
5    object
6    object
dtype: object

In [ ]:
print(dataset['0'])

0       Bread
1       Bread
2      Cheese
3      Cheese
4        Meat
        ...
310     Bread
311      Meat
312     Bread
313      Meat
314      Eggs
Name: 0, Length: 315, dtype: object

In [ ]:
#Count total number of classes in Data
items = (dataset['0'].unique())
print(items)
le=print(len(items))

['Bread' 'Cheese' 'Meat' 'Eggs' 'Wine' 'Bagel' 'Pencil' 'Diaper' 'Milk']
9

In [ ]:
dataset.isnull().sum()

0      0
1     30
2     70
3    128
4    182
5    244
6    274
dtype: int64

In [ ]:
#Create list 
transactions = []
for i in range(0, dataset.shape[0]):
    transactions.append([str(dataset.values[i,j]) for j in range(0, 7)])

transactions

The apriori function expects data in a one-hot encoded pandas DataFrame. We can transform it into the right format via the TransactionEncoder as follows:

In [ ]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

te = TransactionEncoder()
te_ary = te.fit(transactions).transform(transactions)

In [ ]:
te_ary

array([[False,  True,  True, ...,  True,  True, False],
       [False,  True,  True, ...,  True,  True, False],
       [False, False,  True, ..., False,  True,  True],
       ...,
       [False,  True,  True, ...,  True,  True, False],
       [False, False,  True, ..., False, False,  True],
       [ True,  True, False, ..., False,  True,  True]])

In [ ]:
df = pd.DataFrame(te_ary, columns=te.columns_)
print(df)

     Bagel  Bread  Cheese  Diaper   Eggs   Meat   Milk  Pencil   Wine    nan
0    False   True    True    True   True   True  False    True   True  False
1    False   True    True    True  False   True   True    True   True  False
2    False  False    True   False   True   True   True   False   True   True
3    False  False    True   False   True   True   True   False   True   True
4    False  False   False   False  False   True  False    True   True   True
..     ...    ...     ...     ...    ...    ...    ...     ...    ...    ...
310  False   True    True   False   True  False  False   False  False   True
311  False  False   False   False  False   True   True    True  False   True
312  False   True    True    True   True   True  False    True   True  False
313  False  False    True   False  False   True  False   False  False   True
314   True   True   False   False   True   True  False   False   True   True

[315 rows x 10 columns]

In [ ]:
df=df[['Bagel','Bread','Cheese','Diaper','Eggs','Meat','Milk','Pencil','Wine']]

In [ ]:
#df.drop(['nan'], axis = 1)

In [ ]:
df=df[['Bagel','Bread','Cheese','Diaper','Eggs','Meat','Milk','Pencil','Wine']]

     Bagel  Bread  Cheese  Diaper   Eggs   Meat   Milk  Pencil   Wine
0    False   True    True    True   True   True  False    True   True
1    False   True    True    True  False   True   True    True   True
2    False  False    True   False   True   True   True   False   True
3    False  False    True   False   True   True   True   False   True
4    False  False   False   False  False   True  False    True   True
..     ...    ...     ...     ...    ...    ...    ...     ...    ...
310  False   True    True   False   True  False  False   False  False
311  False  False   False   False  False   True   True    True  False
312  False   True    True    True   True   True  False    True   True
313  False  False    True   False  False   True  False   False  False
314   True   True   False   False   True   True  False   False   True

[315 rows x 9 columns]

In [ ]:
freq_items = apriori(df, min_support=0.2, use_colnames=True)
freq_items

     support              itemsets
0   0.425397               (Bagel)
1   0.504762               (Bread)
2   0.501587              (Cheese)
3   0.406349              (Diaper)
4   0.438095                (Eggs)
5   0.476190                (Meat)
6   0.501587                (Milk)
7   0.361905              (Pencil)
8   0.438095                (Wine)
9   0.869841                 (nan)
10  0.279365        (Bagel, Bread)
11  0.225397         (Bagel, Milk)
12  0.336508          (Bagel, nan)
13  0.238095       (Cheese, Bread)
14  0.231746       (Diaper, Bread)
15  0.206349         (Meat, Bread)
16  0.279365         (Milk, Bread)
17  0.200000       (Pencil, Bread)
18  0.244444         (Wine, Bread)
19  0.396825          (nan, Bread)
20  0.200000      (Cheese, Diaper)
21  0.298413        (Cheese, Eggs)
22  0.323810        (Cheese, Meat)
23  0.304762        (Cheese, Milk)
24  0.200000      (Cheese, Pencil)
25  0.269841        (Wine, Cheese)
26  0.393651         (Cheese, nan)
27  0.234921        (Wine, Diaper)
28  0.317460         (Diaper, nan)
29  0.266667          (Eggs, Meat)
30  0.244444          (Milk, Eggs)
31  0.241270          (Wine, Eggs)
32  0.336508           (nan, Eggs)
33  0.244444          (Milk, Meat)
34  0.250794          (Wine, Meat)
35  0.368254           (nan, Meat)
36  0.219048          (Wine, Milk)
37  0.409524           (Milk, nan)
38  0.200000        (Wine, Pencil)
39  0.266667         (nan, Pencil)
40  0.317460           (Wine, nan)
41  0.212698   (Bagel, nan, Bread)
42  0.215873  (Cheese, Eggs, Meat)
43  0.219048   (Cheese, nan, Eggs)
44  0.203175  (Cheese, Milk, Meat)
45  0.234921   (Cheese, nan, Meat)
46  0.234921   (Cheese, Milk, nan)

In [ ]:
rules = association_rules(freq_items, metric="confidence", min_threshold=0.6)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Bagel),(Bread),0.425397,0.504762,0.279365,0.656716,1.301042,0.064641,1.442650
1,(Bagel),(nan),0.425397,0.869841,0.336508,0.791045,0.909413,-0.033520,0.622902
2,(Bread),(nan),0.504762,0.869841,0.396825,0.786164,0.903801,-0.042237,0.608683
3,(Eggs),(Cheese),0.438095,0.501587,0.298413,0.681159,1.358008,0.078670,1.563203
4,(Cheese),(Meat),0.501587,0.476190,0.323810,0.645570,1.355696,0.084958,1.477891
5,(Meat),(Cheese),0.476190,0.501587,0.323810,0.680000,1.355696,0.084958,1.557540
6,(Cheese),(Milk),0.501587,0.501587,0.304762,0.607595,1.211344,0.053172,1.270148
7,(Milk),(Cheese),0.501587,0.501587,0.304762,0.607595,1.211344,0.053172,1.270148
8,(Wine),(Cheese),0.438095,0.501587,0.269841,0.615942,1.227986,0.050098,1.297754
9,(Cheese),(nan),0.501587,0.869841,0.393651,0.784810,0.902245,-0.042651,0.604855
10,(Diaper),(nan),0.406349,0.869841,0.317460,0.781250,0.898152,-0.035999,0.595011
11,(Eggs),(Meat),0.438095,0.476190,0.266667,0.608696,1.278261,0.058050,1.338624
12,(Eggs),(nan),0.438095,0.869841,0.336508,0.768116,0.883053,-0.044565,0.561310
13,(Meat),(nan),0.476190,0.869841,0.368254,0.773333,0.889051,-0.045956,0.574230
14,(Milk),(nan),0.501587,0.869841,0.409524,0.816456,0.938626,-0.026778,0.709141
15,(Pencil),(nan),0.361905,0.869841,0.266667,0.736842,0.847100,-0.048133,0.494603
16,(Wine),(nan),0.438095,0.869841,0.317460,0.724638,0.833069,-0.063613,0.472682
17,"(Bagel, nan)",(Bread),0.336508,0.504762,0.212698,0.632075,1.252225,0.042842,1.346032
18,"(Bagel, Bread)",(nan),0.279365,0.869841,0.212698,0.761364,0.875290,-0.030305,0.545427
19,"(Cheese, Eggs)",(Meat),0.298413,0.476190,0.215873,0.723404,1.519149,0.073772,1.893773
20,"(Cheese, Meat)",(Eggs),0.323810,0.438095,0.215873,0.666667,1.521739,0.074014,1.685714
21,"(Eggs, Meat)",(Cheese),0.266667,0.501587,0.215873,0.809524,1.613924,0.082116,2.616667
22,"(Cheese, Eggs)",(nan),0.298413,0.869841,0.219048,0.734043,0.843881,-0.040524,0.489397
23,"(nan, Eggs)",(Cheese),0.336508,0.501587,0.219048,0.650943,1.297767,0.050260,1.427885
24,"(Cheese, Milk)",(Meat),0.304762,0.476190,0.203175,0.666667,1.400000,0.058050,1.571429
25,"(Cheese, Meat)",(Milk),0.323810,0.501587,0.203175,0.627451,1.250931,0.040756,1.337845
26,"(Milk, Meat)",(Cheese),0.244444,0.501587,0.203175,0.831169,1.657077,0.080564,2.952137
27,"(Cheese, Meat)",(nan),0.323810,0.869841,0.234921,0.725490,0.834049,-0.046742,0.474150
28,"(nan, Meat)",(Cheese),0.368254,0.501587,0.234921,0.637931,1.271825,0.050209,1.376568
29,"(Cheese, Milk)",(nan),0.304762,0.869841,0.234921,0.770833,0.886177,-0.030174,0.567965

In [ ]:
list(rules)

In [ ]:
print(len(rules))

14

In [ ]:
freq_items['length'] = freq_items['itemsets'].apply(lambda x: len(x))
freq_items

In [ ]:
freq_items[ (freq_items['length'] == 2) &
                   (freq_items['support'] >= 0.3) ]

     support        itemsets  length
19  0.323810  (Meat, Cheese)       2
20  0.304762  (Cheese, Milk)       2

In [ ]:
import pickle 
print("[INFO] Saving model...")
# Save the trained model as a pickle string. 
saved_model=pickle.dump(freq_items,open('aprioriexample.pkl', 'wb')) 
# Saving model to disk

[INFO] Saving model...

In [ ]:
# Load the pickled model 
model = pickle.load(open('aprioriexample.pkl','rb'))  
# Use the loaded pickled model to make predictions

In [ ]:
!pip install streamlit==1.1.0

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting streamlit==1.1.0
  Downloading streamlit-1.1.0-py2.py3-none-any.whl (8.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 8.3/8.3 MB 46.5 MB/s eta 0:00:00
Requirement already satisfied: altair>=3.2.0 in /usr/local/lib/python3.10/dist-packages (from streamlit==1.1.0) (4.2.2)
Collecting astor (from streamlit==1.1.0)
  Downloading astor-0.8.1-py2.py3-none-any.whl (27 kB)
Requirement already satisfied: attrs in /usr/local/lib/python3.10/dist-packages (from streamlit==1.1.0) (23.1.0)
Collecting base58 (from streamlit==1.1.0)
  Downloading base58-2.1.1-py3-none-any.whl (5.6 kB)
Collecting blinker (from streamlit==1.1.0)
  Downloading blinker-1.6.2-py3-none-any.whl (13 kB)
Requirement already satisfied: cachetools>=4.0 in /usr/local/lib/python3.10/dist-packages (from streamlit==1.1.0) (5.3.0)
Collecting click<8.0,>=7.0 (from streamlit==1.1.0)
  Downloading click-7.1.2-py2.py3-none-any.whl (82 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 82.8/82.8 kB 7.6 MB/s eta 0:00:00
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from streamlit==1.1.0) (1.22.4)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from streamlit==1.1.0) (23.1)
Requirement already satisfied: pandas>=0.21.0 in /usr/local/lib/python3.10/dist-packages (from streamlit==1.1.0) (1.5.3)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from streamlit==1.1.0) (8.4.0)
Requirement already satisfied: protobuf!=3.11,>=3.6.0 in /usr/local/lib/python3.10/dist-packages (from streamlit==1.1.0) (3.20.3)
Requirement already satisfied: pyarrow in /usr/local/lib/python3.10/dist-packages (from streamlit==1.1.0) (9.0.0)
Collecting pydeck>=0.1.dev5 (from streamlit==1.1.0)
  Downloading pydeck-0.8.1b0-py2.py3-none-any.whl (4.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.8/4.8 MB 57.1 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.10/dist-packages (from streamlit==1.1.0) (2.8.2)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from streamlit==1.1.0) (2.27.1)
Requirement already satisfied: toml in /usr/local/lib/python3.10/dist-packages (from streamlit==1.1.0) (0.10.2)
Requirement already satisfied: tornado>=5.0 in /usr/local/lib/python3.10/dist-packages (from streamlit==1.1.0) (6.3.1)
Requirement already satisfied: tzlocal in /usr/local/lib/python3.10/dist-packages (from streamlit==1.1.0) (4.3)
Collecting validators (from streamlit==1.1.0)
  Downloading validators-0.20.0.tar.gz (30 kB)
  Preparing metadata (setup.py) ... done
Collecting gitpython!=3.1.19 (from streamlit==1.1.0)
  Downloading GitPython-3.1.31-py3-none-any.whl (184 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 184.3/184.3 kB 12.1 MB/s eta 0:00:00
Collecting watchdog (from streamlit==1.1.0)
  Downloading watchdog-3.0.0-py3-none-manylinux2014_x86_64.whl (82 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 82.1/82.1 kB 4.7 MB/s eta 0:00:00
Requirement already satisfied: entrypoints in /usr/local/lib/python3.10/dist-packages (from altair>=3.2.0->streamlit==1.1.0) (0.4)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.10/dist-packages (from altair>=3.2.0->streamlit==1.1.0) (3.1.2)
Requirement already satisfied: jsonschema>=3.0 in /usr/local/lib/python3.10/dist-packages (from altair>=3.2.0->streamlit==1.1.0) (4.3.3)
Requirement already satisfied: toolz in /usr/local/lib/python3.10/dist-packages (from altair>=3.2.0->streamlit==1.1.0) (0.12.0)
Collecting gitdb<5,>=4.0.1 (from gitpython!=3.1.19->streamlit==1.1.0)
  Downloading gitdb-4.0.10-py3-none-any.whl (62 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 62.7/62.7 kB 4.2 MB/s eta 0:00:00
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.21.0->streamlit==1.1.0) (2022.7.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil->streamlit==1.1.0) (1.16.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->streamlit==1.1.0) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->streamlit==1.1.0) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests->streamlit==1.1.0) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->streamlit==1.1.0) (3.4)
Requirement already satisfied: pytz-deprecation-shim in /usr/local/lib/python3.10/dist-packages (from tzlocal->streamlit==1.1.0) (0.1.0.post0)
Requirement already satisfied: decorator>=3.4.0 in /usr/local/lib/python3.10/dist-packages (from validators->streamlit==1.1.0) (4.4.2)
Collecting smmap<6,>=3.0.1 (from gitdb<5,>=4.0.1->gitpython!=3.1.19->streamlit==1.1.0)
  Downloading smmap-5.0.0-py3-none-any.whl (24 kB)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from jinja2->altair>=3.2.0->streamlit==1.1.0) (2.1.2)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /usr/local/lib/python3.10/dist-packages (from jsonschema>=3.0->altair>=3.2.0->streamlit==1.1.0) (0.19.3)
Requirement already satisfied: tzdata in /usr/local/lib/python3.10/dist-packages (from pytz-deprecation-shim->tzlocal->streamlit==1.1.0) (2023.3)
Building wheels for collected packages: validators
  Building wheel for validators (setup.py) ... done
  Created wheel for validators: filename=validators-0.20.0-py3-none-any.whl size=19579 sha256=3bfdde8741240aa8ae28e47d764016f2c7710ef6821c466040eb7ac24b21e6ad
  Stored in directory: /root/.cache/pip/wheels/f2/ed/dd/d3a556ad245ef9dc570c6bcd2f22886d17b0b408dd3bbb9ac3
Successfully built validators
Installing collected packages: watchdog, validators, smmap, click, blinker, base58, astor, pydeck, gitdb, gitpython, streamlit
  Attempting uninstall: click
    Found existing installation: click 8.1.3
    Uninstalling click-8.1.3:
      Successfully uninstalled click-8.1.3
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
flask 2.2.4 requires click>=8.0, but you have click 7.1.2 which is incompatible.
pip-tools 6.13.0 requires click>=8, but you have click 7.1.2 which is incompatible.
Successfully installed astor-0.8.1 base58-2.1.1 blinker-1.6.2 click-7.1.2 gitdb-4.0.10 gitpython-3.1.31 pydeck-0.8.1b0 smmap-5.0.0 streamlit-1.1.0 validators-0.20.0 watchdog-3.0.0

In [ ]:
!pip install pyngrok==5.2.0

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyngrok==5.2.0
  Downloading pyngrok-5.2.0.tar.gz (761 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 761.3/761.3 kB 11.6 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: PyYAML in /usr/local/lib/python3.10/dist-packages (from pyngrok==5.2.0) (6.0)
Building wheels for collected packages: pyngrok
  Building wheel for pyngrok (setup.py) ... done
  Created wheel for pyngrok: filename=pyngrok-5.2.0-py3-none-any.whl size=19767 sha256=30b2011cc1b0b7aca4ceeb30bb761df1c600188f18f5caeeb3cc0691b568610b
  Stored in directory: /root/.cache/pip/wheels/37/ae/6b/1c52ab7305315c5d0aee92a01b04b4e92effc45cb65d44fb0b
Successfully built pyngrok
Installing collected packages: pyngrok
Successfully installed pyngrok-5.2.0

In [ ]:
!ngrok authtoken 1u0ssBe3PaN4d9t7Bqa2lW7K3ZS_4GPzNGXCnCuEkwp9XQUVk

Authtoken saved to configuration file: /root/.ngrok2/ngrok.yml

In [ ]:
%%writefile app.py

import streamlit as st 
from PIL import Image
import mlxtend
import pickle
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from mlxtend.frequent_patterns import apriori, association_rules
#st.set_option('deprecation.showfileUploaderEncoding',False)
def find_associatio_rule(support):
  # Load the pickled model
  model = pickle.load(open('aprioriexample.pkl','rb')) 
  dataset= pd.read_csv('retail_dataset.csv')    
  #Create list 
  transactions = []
  for i in range(0, 315):
    transactions.append([str(dataset.values[i,j]) for j in range(0, 7)])

  from mlxtend.preprocessing import TransactionEncoder
  te = TransactionEncoder()
  te_ary = te.fit(transactions).transform(transactions)
  df = pd.DataFrame(te_ary, columns=te.columns_)
  df=df[['Bagel','Bread','Cheese','Diaper','Eggs','Meat','Milk','Pencil','Wine']]
  freq_items = apriori(df, min_support=support, use_colnames=True)
  rules = association_rules(freq_items, metric="confidence", min_threshold=0.6)
  return rules

def find_frequent_items(support):
  # Load the pickled model
  model = pickle.load(open('aprioriexample.pkl','rb'))     
  dataset= pd.read_csv('retail_dataset.csv')
  #Create list 
  transactions = []
  for i in range(0, 315):
    transactions.append([str(dataset.values[i,j]) for j in range(0, 7)])

  from mlxtend.preprocessing import TransactionEncoder
  te = TransactionEncoder()
  te_ary = te.fit(transactions).transform(transactions)
  df = pd.DataFrame(te_ary, columns=te.columns_)
  df=df[['Bagel','Bread','Cheese','Diaper','Eggs','Meat','Milk','Pencil','Wine']]
  freq_items = apriori(df, min_support=support, use_colnames=True)
  rules = association_rules(freq_items, metric="confidence", min_threshold=0.6)
  
  return freq_items
html_temp = """
   <div class="" style="background-color:blue;" >
   <div class="clearfix">           
   <div class="col-md-12">
   <center><p style="font-size:40px;color:white;margin-top:10px;">Poornima Institute of Engineering & Technology</p></center> 
   <center><p style="font-size:30px;color:white;margin-top:10px;">Department of Computer Engineering</p></center> 
   <center><p style="font-size:25px;color:white;margin-top:10px;"Machine Learning Lab Experiment</p></center> 
   </div>
   </div>
   </div>
   """
st.markdown(html_temp,unsafe_allow_html=True)
st.header("Identification of items Purchased together ")
  
#uploaded_file = st.file_uploader("Upload dataset", help='Please upload retail_dataset.csv otherwise leave  blank') 
support = st.number_input('Insert a minimum suppport to find association rule ',0.1,1.1)

  
if st.button("Association Rule"):
  rules=find_associatio_rule(support)
  st.success('Apriori has found Following rules {}'.format(rules))
if st.button("Frequent Items"):
  frequent_items=find_frequent_items(support)
  st.success('Apriori has found Frequent itemsets {}'.format(frequent_items))      
if st.button("About"):
  st.subheader("Developed by Deepak Moud")
  st.subheader("Head , Department of Computer Engineering")
html_temp = """
   <div class="" style="background-color:orange;" >
   <div class="clearfix">           
   <div class="col-md-12">
   <center><p style="font-size:20px;color:white;margin-top:10px;">Machine learning Experiment No. 9</p></center> 
   </div>
   </div>
   </div>
   """
st.markdown(html_temp,unsafe_allow_html=True)

Writing app.py

In [ ]:
from pyngrok import ngrok
url=ngrok.connect(port='8050')
url

In [ ]:
!streamlit run --server.port 80 app.py

2023-05-24 05:41:34.301 INFO    numexpr.utils: NumExpr defaulting to 2 threads.

  You can now view your Streamlit app in your browser.

  Network URL: http://172.28.0.12:80
  External URL: http://34.139.18.178:80

**Upload  6 files on github :**

1.   aprioriexample.pkl
2.   retail_dataset
1.   app.py
2.   readme
1.   proc
2.   requirment ( update this file with mlxtend) 
 
**then do login on streamlit.com**
**click on new app**

**click on paste github url**

**copy app.py file path from gitgub and paste it**

**then click on deploy**